;!zprint {:width 140}

{:config-paths ["org.clojars.middleware-dev/clj-otel-api"]
 :lint-as      {example.common-utils.core-async/<with-span-binding clojure.core/let}
 :linters      {:consistent-alias  {:aliases {clojure.core.async async
                                              clojure.string str
                                              middleware-dev.clj-otel.api.attributes attr
                                              middleware-dev.clj-otel.api.baggage baggage
                                              middleware-dev.clj-otel.api.otel otel
                                              middleware-dev.clj-otel.sdk.otel-sdk sdk
                                              middleware-dev.clj-otel.api.trace.http trace-http
                                              middleware-dev.clj-otel.api.trace.span span
                                              middleware-dev.clj-otel.context context}}
                :unsorted-required-namespaces {:level :warning}
                :missing-docstring {:level :warning}}}