;!zprint {:width 140}

{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}
           org.clojars.middleware-dev/clj-otel-api {:mvn/version "0.1.5"}
           org.clojars.middleware-dev/clj-otel-sdk {:mvn/version "0.1.5"}
           io.opentelemetry/opentelemetry-sdk-extension-jaeger-remote-sampler {:mvn/version "1.24.0"}}
 :aliases {:dev      {:override-deps {org.clojars.middleware-dev/clj-otel-api {:local/root "../clj-otel-api"}
                                      org.clojars.middleware-dev/clj-otel-sdk {:local/root "../clj-otel-sdk"}}}
           :snapshot {:override-deps {org.clojars.middleware-dev/clj-otel-api {:mvn/version "0.1.5-SNAPSHOT"}
                                      org.clojars.middleware-dev/clj-otel-sdk {:mvn/version "0.1.5-SNAPSHOT"}}}}}
