;!zprint {:width 140}

{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}
           org.clojars.middleware-dev/clj-otel-api {:mvn/version "0.1.12"}
           io.opentelemetry.instrumentation/opentelemetry-runtime-metrics
           {:mvn/version "1.23.0-alpha"
            :exclusions  [io.opentelemetry.instrumentation/opentelemetry-instrumentation-api
                          io.opentelemetry.instrumentation/opentelemetry-instrumentation-api-semconv]}}
 :aliases {:dev      {:override-deps {org.clojars.middleware-dev/clj-otel-api {:local/root "../clj-otel-api"}}}
           :snapshot {:override-deps {org.clojars.middleware-dev/clj-otel-api {:mvn/version "0.1.12-SNAPSHOT"}}}}}
